@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

/* ====================================================================================
 This Is Header Section design Start
==================================================================================== */
.mainHeader {
  background-color: #f5f5f5;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 auto;
}

.leftContent {
  display: flex;
}

.phone a {
  text-decoration: none;
  color: black;
}

.email a {
  text-decoration: none;
  color: black;
}
.phone i {
  color: #ff6c00;
}

.email i {
  color: #ff6c00;
}

.phone {
  padding: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.phone i {
  color: #ff6c00;
}

.email i {
  color: #ff6c00;
}

.phone {
  padding: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.email {
  padding: 15px;
}

.rightContent {
  display: flex;
}

.facebook {
  padding: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.facebook a {
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

.facebook a:hover {
  color: #ff5200;
}

.instagram {
  padding: 15px;
  border-right: 1px solid #ddd;
}

.instagram a {
  text-decoration: none;
  color: black;
}

.instagram a:hover {
  color: #ff5200;
}

.linkiedin {
  padding: 15px;
  border-right: 1px solid #ddd;
}

.linkiedin a {
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

.linkiedin a:hover {
  color: #ff5200;
}

/* ====================================================================================
 This Is Header Section design end
==================================================================================== */

/* ====================================================================================
 This Is  Navigation design start
==================================================================================== */

.search {
  display: none;
}
.menu {
  display: none;
}

.mainNavwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navListWrap ul {
  display: flex;
  list-style-type: none;
}

.navListWrap ul li {
  padding: 20px 15px;
}

.navListWrap ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  transition-duration: 0.3s;
}
.navList ul li a:hover {
  color: #ff5200;
}

.angle-down {
  display: none;
}

/* ====================================================================================
 This Is  Navigation design end
==================================================================================== */

/* ================================================================================
    This Is Slider Section design start
    ================================================================================*/
.sliderSec {
  background-color: rebeccapurple;
  background-image: url(../image/slide-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sliderCon {
  max-width: 60%;
  padding: 80px 0px;
  display: flex;
  flex-flow: column wrap;
}

.sliderCon h1 {
  color: white;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 20px;
}

.sliderCon p {
  color: white;
  text-align: justify;
  padding-bottom: 20px;
}

.sliderCon button {
  background-color: #ff5200;
  border: none;
  width: 220px;
  height: 50px;
  text-transform: uppercase;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.3s;
}
.sliderCon button:hover {
  background-color: #222222;
}

/* ================================================================================
    This Is Slider Section design end
    ================================================================================*/

/* ================================================================================
    This Is Service box design start  
    ================================================================================*/

.serviceBox {
  background-color: #f5f6f6;
  padding-top: 50px;
}
.serviceWrap {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 25px;
}
.singleBox {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  padding: 45px 20px;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 25px;
  transition-duration: 0.2s;
  margin-right: 20px;
  flex-basis: 19%;
}
.singleBox:nth-child(2) {
  background-color: #ff5200;
  color: white;
}
.singleBox:nth-child(2) i {
  color: white;
}
.singleBox:nth-child(2) a {
  color: white;
}
.singleBox:nth-child(2) p {
  color: white;
}
.singleBox:last-child {
  margin-right: 0px;
}
.singleBox i {
  font-size: 40px;
  color: #ff5200;
  padding-bottom: 20px;
  transition-duration: 0.2s;
}
.singleBox h2 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 32px;
  padding-bottom: 20px;
  cursor: pointer;
}
.serviceBox p {
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 20px;
  font-size: 18px;
  color: #656565;
  transition-duration: 0.2s;
}

.serviceBox a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  color: #ff5200;
  transition-duration: 0.2s;
}
.singleBox:hover {
  background-color: #ff5200;
  color: white;
}
.singleBox:hover i {
  color: white;
}
.singleBox:hover a {
  color: white;
}
.singleBox:hover p {
  color: white;
}
.sliderNav {
  max-width: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 40px;
}
.sliderNav span {
  height: 12px;
  width: 12px;
  display: block;
  border: 3px solid #ddd;
  border-radius: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.sliderNav span:last-child {
  background-color: #ff5200;
}
.sliderNav span:hover {
  background-color: #ff5200;
}

/* ================================================================================
    This Is Service box design end  
    ================================================================================*/

/* ================================================================================
     This Is Our Team design start  
    ================================================================================*/
.ourTeamWrapp {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.leftTeam {
  max-width: 48%;
}
.leftTeam img {
  max-width: 100%;
}
.rightTeam {
  max-width: 48%;
  display: flex;
  flex-flow: column wrap;
}
.teamDesc h2 {
  padding-bottom: 15px;
  font-size: 35px;
  font-weight: 500;
}
.teamDesc p {
  font-size: 18px;
  color: #656565;
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 25px;
}
.teamList {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.leftList {
  list-style-type: none;
}
.leftList li a {
  text-decoration: none;
  color: #656565;
  line-height: 2;
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.3s;
}
.rightList {
  list-style-type: none;
}

.rightList li a {
  text-decoration: none;
  color: #656565;
  line-height: 2;
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.3s;
}
.leftList li a i {
  font-size: 15px;
}
.rightList li a i {
  font-size: 15px;
}
.leftList li a:hover {
  color: #ff5200;
}
.rightList li a:hover {
  color: #ff5200;
}

.getStart {
  width: 35%;
  height: 50px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: #ff5200;
  color: white;
  letter-spacing: 2px;
  border-radius: 3px;
  margin: 25px 0px;
  transition-duration: 0.3s;
}
.getStart:hover {
  background-color: #222222;
}

/* ================================================================================
     This Is Our Team design end
    ================================================================================*/

/* ================================================================================
     This Is 'Why Choose Us' design start
    ================================================================================*/
.whyChooseUs {
  background-image: linear-gradient(rgb(0 0 0 / 55%), rgb(0 0 0 / 55%)),
    url(../image/customerNum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.chooseUsWrap {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 80px 0px;
}
.singleIcon {
  display: flex;
  flex-flow: column wrap;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 20px auto;
}
.singleIcon i {
  font-size: 50px;
  padding-bottom: 15px;
}
.singleIcon h1 {
  font-size: 34px;
  padding-bottom: 15px;
}
.singleIcon h2 {
  font-size: 26px;
  padding-bottom: 15px;
}

/* ================================================================================
     This Is 'Why Choose Us' design end
    ================================================================================*/
/* ================================================================================
     This Is 'More From Us' design start
    ================================================================================*/
.moreFromUs {
  background-color: #f5f6f6;
  padding: 40px 0px;
}
.moreFromUsWrap {
  max-width: 90%;
  margin: 0 auto;
}
.chooseDesc {
  text-align: center;
  max-width: 55%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.chooseDesc h1 {
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 45px;
}
.chooseDesc p {
  color: #656565;
  font-size: 18px;
}
.chooseDesc::before {
  content: "";
  display: inline-block;
  position: relative;
  height: 5px;
  width: 60px;
  background-color: #ff5200;
  top: 80px;
}
.singleChooseWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.singleChoose {
  max-width: 23%;
}
.chooseImage {
  max-width: 100%;
}
.chooseImage img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.singleDesc {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  position: relative;
  top: -8px;
}
.singleDesc h1 {
  font-size: 18px;
  letter-spacing: 1px;
}
.singleDesc p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 15px;
  color: #656565;
  text-align: justify;
}

/* ================================================================================
     This Is 'More From Us' design end
    ================================================================================*/

/* ================================================================================
     This Is 'Price Plan' design start
    ================================================================================*/
.pricePlanWrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0px;
}
.priceBlog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.SPB {
  padding: 25px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  width: 27%;
  box-shadow: 0px 0px 8px 8px rgb(244, 244, 244);
  margin-bottom: 35px;
  border-radius: 4px;
}
.SPB h2 {
  font-size: 30px;
}
.SPB h1 {
  font-size: 45px;
  padding-bottom: 20px;
}
.SPB span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.priceList {
  list-style-type: none;
}
.priceList li {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 25px;
}
.priceList i {
  color: #ff5200;
  margin-right: 5px;
}
.PPBtn {
  background-color: #ff5200;
  width: 45%;
  height: 50px;
  border: none;
  color: white;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.3s;
}
.PPBtn:hover {
  background-color: #222222;
}

/* ================================================================================
     This Is 'Price Plan' design end
    ================================================================================*/
/* ================================================================================
     This Is 'idea' design start
    ================================================================================*/
    .idea{
      margin: 60px 0px;
    }
    .ideaWrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: relative;
    }
    .leftIdea{
      z-index: -1;
    }
    .ideaImg{
        background-image: url(../image/idea1.jpg);
        background-repeat: center center;
        background-size: cover;
        position: absolute;
        width: 50%;
        height: 100%;
      }
      .rightIdea {
        background-color: #222222;
        padding: 42px 15px;
        width: 50%;
      }
      .ideaDesc {
        text-align: center;
        padding: 0px 30px;
      }
      .ideaDesc h1 {
        color: #ff5200;
        font-size: 30px;
        padding-bottom: 10px;
      }
      .ideaDesc p {
        color: white;
        font-size: 14px;
        line-height: 1.7;
      }
      .singleIdeaWrap {
        display: flex;
        flex-flow: row wrap;
        padding: 0px 30px;
      }
      .singleIdea {
        width: 50%;
        margin-top: 30px;
        display: flex;
        align-items: center;
      }
      .singleIdea i {
        font-size: 35px;
        color: #ff5200;
        margin-right: 10px;
      }
      .singleIdea h3 {
        font-size: 15px;
        color: white;
        cursor: pointer;
        margin-bottom: 5px;
        transition-duration: 0.3s;
      }
      .singleIdea h3:hover {
        color: #ff5200;
      }
      .singleIdea p {
        font-size: 14px;
        color: white;
        line-height: 1.8;
      }
/* ================================================================================
     This Is 'idea' design end
    ================================================================================*/

/* ================================================================================
     This Is 'meet our team' design start
    ================================================================================*/
    .teamWrap{
      margin: 30px auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .singlePerson{
      width: 23%;
    }
    .personimg{
      display: flex;
      justify-content: center;
      position: relative;
      align-items: flex-end;
    }
    .personimg img{
      max-width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .personDesc{
      text-align: center;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      margin-top: -5px;
    }
    .personDesc h3{
      font-size: 22px;
      letter-spacing: 1.3px;
      padding-top: 10px;
      padding-bottom: 3px;
    }
    .personDesc p{
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 10px;
      color: #656565;
    }

    .personSocial{
      position: absolute;
      display: flex;
      justify-content: space-between;
    }
    .personSocial i{
      background-color: rebeccapurple;
      color: white;
      font-size: 14px;
      border-radius: 100%;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 25px;
      margin-bottom: 50px;
      cursor: pointer;
      transition-duration: 0.2s;
    }
    .personSocial i:hover{
      color: black;
      background-color: white!important;
    }
    .personSocial i:first-child{
      background-color: #3b5998;
      opacity: 0;
      transition-duration: 0.90s;
    }
    .personSocial i:nth-child(2){
      background-color:  #00acee;
      opacity: 0;
      transition-duration: 0.70s;
    }
    .personSocial i:nth-child(3){
      background-color: #db4a39;
      opacity: 0;
      transition-duration: 0.50s;
    }
    .personSocial i:last-child{
      margin-right: 0px;
      background-color: #0072b1;
      opacity: 0;
      transition-duration: 0.30s;
    }
    .singlePerson:hover .personSocial i:first-child{
      transform: translateY(30px);
      opacity: 1;
    }
    .singlePerson:hover .personSocial i:nth-child(2){
      transform: translateY(30px);
      opacity: 1;
    }
    .singlePerson:hover .personSocial i:nth-child(3){
      transform: translateY(30px);
      opacity: 1;
    }
    .singlePerson:hover .personSocial i:last-child{
      transform: translateY(30px);
      opacity: 1;
    }
    .joinOurTeem{
      width: 18%;
      height: 50px;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
      background-color: #ff5200;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1.3px;
      margin: 30px auto;
      font-weight: 600;
      transition-duration: 0.3s;
    }
    .joinOurTeem:hover{
      background-color: #222222;
    }






/* ================================================================================
     This Is 'meet our team' design end
    ================================================================================*/
